<section class="gallery_page" style="margin-top: 40px;">
  <div class="container">
    <h1 class="text-info"><%= title %></h1>
    <hr />
    <form
      action="/gallery/uploadfile"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="col-md-8">
        <div class="form-group">
          <input type="file" class="form-control" name="myFile" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <button type="submit" class="btn btn-info"><b>Submit</b></button>
        </div>
      </div>
    </form>
  </div>
</section>
