<section class="gallery_page" style="margin-top: 40px;">
  <div class="container">
    <hr />
    <form
      action="/gallery/uploadfile"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="col-md-10">
        <div class="form-group">
          <input type="file" class="form-control" name="myFile" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
