<section class="gallery_page" style="margin-top: 40px;">
  <div class="container">
    <h1 class="text-primary"></h1>
    <hr />
    <div class="col-md-10">
      <img
        src="/images/no-image.png"
        alt=".. "
        class="img-responsive"
        style="max-width: 15%;"
      />
    </div>
    <div class="col-md-2" style="background-color: #444; height: 100vh;">
      <a href="gallery/create">New Gallery</a>
    </div>
  </div>
</section>
