<section class="container" style="margin-top: 50px;">
  <div class="row">
    <h1 class="text-danger"><%= title %></h1>
    <hr />
    <div class="col-md-8">
      <%- include('_create_book_form') %>
    </div>
  </div>
</section>
