<section class="book_create">
  <div class="container">
    <div class="row">
      <h1 class="text-danger"><%= title %></h1>
      <hr />
      <div class="col-md-12">
        <%- include('_create_book_form') %>
      </div>
    </div>
  </div>
</section>
