<!-- Delete Author for Author -->
<form action="/authors/<%= author.id  %>?_method=DELETE " method="POST">
  <button type="submit" class="btn btn-danger btn-sm">
    <i class="fa fa-trash"><b>Delete</b></i>
  </button>
</form>
