<!-- <section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../images/footer_image01.jpg" alt="" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <img src="../images/footer_image01.jpg" alt="" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <img src="../images/footer_image01.jpg" alt="" class="img-responsive" />
      </div>
    </div>

    <div class="footer-copy-right">
      <p class="text-center">
        &copy; Copyright <%=new Date().getFullYear() %> . All Rights Reserved.
        Mahmoud Osman
      </p>
    </div>
  </div>
</section> -->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <h3>Useful Links</h3>
        <ul class="list-unstyled three-columns">
          <a href="#">
            <li>
              Laravel &nbsp;
              <i class="fa fa-angle-right hidden-sm hidden-xs"></i>
            </li>
          </a>
          <a href="#course" id="skills">
            <li>
              HTML5 &nbsp; <i class="fa fa-angle-right hidden-sm hidden-xs"></i>
            </li>
          </a>
          <a href="#course" id="skills">
            <li>
              PHP &nbsp; &nbsp;<i
                class="fa fa-angle-right hidden-sm hidden-xs"
              ></i>
            </li>
          </a>
          <a href="#course" id="skills">
            <li>
              CSS3 &nbsp;<i class="fa fa-angle-right hidden-sm hidden-xs"></i>
            </li>
          </a>
          <a href="#course" id="course">
            <li>
              Drupal &nbsp;
              <i class="fa fa-angle-right hidden-sm hidden-xs"></i>
            </li>
          </a>
          <a href="#course" id="course">
            <li>
              JavaScript &nbsp;
              <i class="fa fa-angle-right hidden-sm hidden-xs"></i>
            </li>
          </a>
          <a href="#course" id="course">
            <li>
              Wordpress &nbsp;<i
                class="fa fa-angle-right hidden-sm hidden-xs"
              ></i>
            </li>
          </a>
          <a href="#course" id="course">
            <li>
              jQuery &nbsp;
              <i class="fa fa-angle-right hidden-sm hidden-xs"></i>
            </li>
          </a>
          <a href="#course" id="contact">
            <li>
              Bootstrap 3 &amp; 4 &nbsp;
              <i class="fa fa-angle-right hidden-sm hidden-xs"></i>
            </li>
          </a>
        </ul>
        <ul class="list-unstyled social-list">
          <h4 class="text-uppercase">Follow Me:</h4>
          <a href="https://www.facebook.com/moudey.ahmed.3" target="_blank">
            <li>
              <img
                src="https://netsansoftware.com/images/facebook.png"
                alt="facebook"
                class="img-responsive wow pulse"
                style="visibility: visible; animation-name: pulse;"
              /></li
          ></a>
          <li>
            <img
              src="https://netsansoftware.com/images/twitter.png"
              alt="twitter"
              class="img-responsive wow swing"
              style="visibility: visible; animation-name: swing;"
            />
          </li>
          <li>
            <a href="https://www.linkedin.com/in/mahmoudaoman/" target="_blank">
              <img
                src="https://netsansoftware.com/images/linkedin.png"
                alt="linkedin"
                class="img-responsive wow pulse"
                style="visibility: visible; animation-name: pulse;"
            /></a>
          </li>
          <li>
            <img
              src="https://netsansoftware.com/images/rss.png"
              alt="rss"
              class="img-responsive wow swing"
              style="visibility: visible; animation-name: swing;"
            />
          </li>
          <li>
            <img
              src="https://netsansoftware.com/images/gplus.png"
              alt="gplus"
              class="img-responsive wow pulse"
              style="visibility: visible; animation-name: pulse;"
            />
          </li>
          <a href="https://github.com/MahmoudAhmadOsman" target="_blank"
            ><i class="fa fa-github fa-5x" aria-hidden="true"></i
          ></a>
        </ul>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
        <h3>Web Technologies</h3>
        <div class="media">
          <a class="pull-left" href="#">
            <img
              class="img-thumbnail"
              src="https://netsansoftware.com/images/bootstrappng.png"
              alt=""
            />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Bootstap 3 &amp; 4</h4>
            <p>Knowledge and experience of Bootstrap 3 &amp; 4.</p>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img
              class="img-thumbnail"
              src="https://netsansoftware.com/images/02.jpg"
              alt=""
            />
          </a>
          <div class="media-body">
            <h4 class="media-heading">HTML5/CSS3</h4>
            <p>7+ years of HTML5 &amp; CSS3 experience.</p>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img
              class="img-thumbnail"
              src="https://netsansoftware.com/images/03.png"
              alt="png"
            />
          </a>
          <div class="media-body">
            <h4 class="media-heading">JavaScript &amp; JQuery</h4>
            <p>5+ years experience of JavaScript and jQuery.</p>
          </div>
        </div>
      </div>
      <div class="disable-click col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <h3>Content Management Systems</h3>
        <a href="#"
          ><img
            class="img-thumbnail"
            src="https://netsansoftware.com/images/r1.jpg"
            alt="r1"
        /></a>
        <a href="#"
          ><img
            class="img-thumbnail"
            src="https://netsansoftware.com/images/r2.jpg"
            alt="r2"
        /></a>
        <a href="#"
          ><img
            class="img-thumbnail"
            src="https://netsansoftware.com/images/r3.png"
            alt="r3"
        /></a>
        <a href="#"
          ><img
            class="img-thumbnail"
            src="https://netsansoftware.com/images/r4.jpg"
            alt="r4"
        /></a>
        <div class="media">
          <a class="pull-left" href="#">
            <img
              class="img-thumbnail"
              src="https://netsansoftware.com/images/Wordpress.png"
              alt=""
            />
          </a>
          <div class="media-body">
            <h4 class="media-heading">WordPress</h4>
            <p>
              7+ years experience of WordPress. <br />Theme installation/theme
              customization, child-theme creation, plugins &amp; more.
            </p>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img
              class="img-thumbnail"
              src="https://netsansoftware.com/images/drupal-logo.png"
              alt=""
            />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Drupal 7 &amp; 8</h4>
            <p>3+ years of Drupal experience.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <p class="text-center">
        &copy; Copyright <%=new Date().getFullYear() %> . All Rights Reserved.
        This application is built with <i>Express js, ejs and Mongodb.</i>
        Built by Mahmoud Osman.
      </p>
    </div>
  </div>
</section>
