<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../images/footer_image01.jpg" alt="" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <img src="../images/footer_image01.jpg" alt="" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <img src="../images/footer_image01.jpg" alt="" class="img-responsive" />
      </div>
    </div>

    <div class="footer-copy-right">
      <p class="text-center">
        &copy; Copyright <%=new Date().getFullYear() %> . All Rights Reserved.
        Mahmoud Osman
      </p>
    </div>
  </div>
</section>
