<section class="footer" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">1</div>
      <div class="col-md-4">2</div>
      <div class="col-md-4">3</div>
    </div>

    <div class="footer-copy-right">
      <p class="text-center">
        &copy; Copyright 2020. All Rights Reserved. Mahmoud Osman
      </p>
    </div>
  </div>
</section>
