<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">Useful Links</div>
      <div class="col-md-4">Policy Links</div>
      <div class="col-md-4">Sitemap</div>
    </div>

    <div class="footer-copy-right">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">
            &copy; Copyright 2020. All Rights Reserved. Mahmoud Osman
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
