body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer {
  background: #333232;
  min-height: 150px;
  color: #fff;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 20%;
}

.footer .footer-copy-right {
  text-align: center;
  line-height: 150px;
}
