<section class="confirmation_page" style="margin-top: 80px; height: 650px;">
  <div class="container text-center">
    <h1 class="text-danger"><%= title %></h1>
    <hr />
    <p class="text-info lead">
      Thank you for registering . Please check your email and confirm your
      registering!
    </p>
    <hr />
    <br />
    <br />
    <a href="/users/login" class="well"><b>Login</b></a>
  </div>
</section>
