<section class="login_form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <h1 class="text-info"><%= title %></h1>
        <hr />
        <form action="/users/login">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control input-lg" name="username" />
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input
              type="password"
              class="form-control input-lg"
              name="password"
            />
          </div>
          <div class="checkbox">
            <label><input type="checkbox" required /> Remember me</label>
          </div>
          <button type="submit" class="btn btn-info btn-lg btn-block">
            <b class="sub">Submit</b>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
