<section class="signup-form">
  <div class="container">
    <form action="/users/add" method="POST">
      <h2 class="text-info"><%= title %></h2>
      <hr />
      <p class="text-muted">
        Create your account. It's free and only takes a minute.
      </p>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <input
              type="text"
              class="form-control input-lg"
              name="name"
              placeholder="Enter your name"
              required="required"
            />
          </div>
          <div class="col-xs-6">
            <input
              type="email"
              class="form-control input-lg"
              name="email"
              placeholder="Enter a valid email address"
              required="required"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control input-lg"
          name="username"
          placeholder="Enter your username"
          required="required"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control input-lg"
          name="password"
          placeholder="Password"
          required="required"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control input-lg"
          name="password2"
          placeholder="Confirm Password"
          required="required"
        />
      </div>
      <div class="form-group">
        <label class="checkbox-inline"
          ><input type="checkbox" required="required" /> I accept the
          <a href="#">Terms of Use</a> &amp;
          <a href="#">Privacy Policy</a></label
        >
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg">
          Register Now
        </button>
      </div>
    </form>
    <div class="text-center">
      Already have an account? <a href="/users/login">Sign in</a>
    </div>
  </div>
</section>
