<div class="row">
  <div class="col-sm-4">
    <label for="name">Full Name</label>
    <div class="form-group">
      <input
        type="name"
        class="form-control input-lg"
        placeholder="Your Full Name"
        name="name"
        required
      />
    </div>
  </div>

  <div class="col-sm-4">
    <label for="email">Email Address</label>
    <div class="form-group">
      <input
        type="email"
        class="form-control input-lg"
        id="email"
        placeholder="Enter a valid email address"
        name="email"
        required
      />
    </div>
  </div>

  <div class="col-sm-4">
    <label for="phone">Phone Number</label>
    <div class="form-group">
      <input
        type="phone"
        class="form-control input-lg"
        placeholder="Phone Number* (__)___-____"
        name="phone"
        required
      />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <label for="address">Message/bio</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control input-lg"
        placeholder="Enter bio title"
        name="address"
        required
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label for="message">Message/bio</label>
    <div class="form-group">
      <textarea
        id="message"
        cols="10"
        rows="10"
        class="form-control input-lg"
        name="message"
        placeholder="Your message or short bio"
        required
      ></textarea>
    </div>
  </div>
</div>
