<form action="#" method="POST">
  <div class="container" id="search">

    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Search name"
      required
     
    />
    <button class="btn btn-primary text-uppercase"">Submit</button>
  </div>
</form>

<style>
  #search .form-control {
    max-width: 90%;
    float: left;
    margin-right: 5px;
    border-radius: 0px;
  }
  #search .btn-primary{
    background-color: #969696;
    border-color: #969696;
    color: #fff;
    font-weight: bold;
  }
</style>
