<section class="all_authors" style="margin-top: 80px;">
  <div class="container">
    <div class="row">
      <%- include('_search_author') %>
      <h1 class="text-danger"><%= title %></h1>
      <hr />
    </div>
  </div>
</section>
